*{
    margin: 0;
    padding: 0;
}

body {
    background-image: url('../code-tile3.png');
    font-family: 'Work Sans', sans-serif;
}
#root {
    padding: 0 0 50px 0;
}

.header {
    text-align: center;
    background: rgba(255, 255, 255, 0.575);
    padding: 10px;
    margin: 0 0 20px 0;
}
.rowThis {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.columnThis {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.code-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 600px;
    max-height: 600px;
    background: rgba(255, 255, 255, 0.575);
    border: 1px solid black;
    border-radius: 3px;
    padding: 10px;
    div h4 {
        color: red;
    }
    textarea {
        width: 450px;
        height: 400px;
        margin: 20px;
    }
    .copy-textarea {
        margin: 5px auto 0 auto;
        background: rgb(255, 255, 255);
        border: 1px solid black;
        border-radius: 3px;
        outline: none;
        transition: .2s;
        width: 80px;
        height: 20px;
        
    }
    .copy-textarea:active {
        background: lightgrey;
        transform: translateY(1px);
    }
    
}
.buttons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    button {
        margin: 10px;
        background: rgb(255, 255, 255);
        border: 1px solid black;
        border-radius: 3px;
        outline: none;
        transition: .2s;
        width: 80px;
        height: 30px;

    }
    button:active {
        background: lightgrey;
        transform: translateY(1px);
    }
    #clear-button {
        background-color: rgba(255, 235, 52, 0.774);
    }
    #clear-button:active {
        background-color: rgb(182, 79, 31);
    }
} 
.footer {
    background: rgba(255, 255, 255, 0.575);
    max-width: 400px;
    font-size: 8px;
    text-align: center;
    margin: 10px auto;
    .footer-button {
        margin: 5px;
        background: rgb(255, 255, 255);
        border: 1px solid black;
        border-radius: 3px;
        outline: none;
        transition: .2s;
        width: 80px;
        height: 20px;
    }
    .footer-button:active {
        background: lightgrey;
        transform: translateY(1px);
    }
}
@media only screen and (max-width: 800px) {
    .rowThis {
      flex-direction: column;
      align-items: center;
    }
    .buttons {
        flex-direction: row;

    }
    .code-box {
        max-width: 260px;
        max-height: 400px;
        textarea {
        width: 200px;
        height: 150px;
        margin: auto;
        }
    }

}